<div class="social-links">
  <ul>
    <li><a href="{{ "/feed" | prepend: site.url }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-rss"></i></a></li>
    <li><a href="{{ author.itunes }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-apple"></i></a></li>
    <li><a href="{{ author.youtube }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>
    <li><a href="{{ author.facebook }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
    <li><a href="{{ author.twitter }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
    <li><a href="{{ author.podbbang }}" class="social-link-item" target="_blank">팟빵</a></li>
    <li><a href="{{ author.podty }}" class="social-link-item" target="_blank">팟티</a></li>
    <li><a href="{{ author.podfreeca }}" class="social-link-item" target="_blank">팟프리카</a></li>
  </ul>
</div>
